.title-bar {
}

.title-bar .title {
  color: black;
  font-weight: 200;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title-bar .actions {
  border-left: #bbb solid 1px;
  margin-left: 1rem;
  padding-left: 0.5rem;
}

.card.ticked {
  background: #d9e4ea;
}

.card.ticked .card-title {
  text-decoration: line-through #909ba1 wavy;
}

.datagrid-row.datagrid-selected .datagrid-cell {
  text-decoration: line-through #909ba1 wavy;
}
