<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <span class="title">Angular 5 Project</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="/" class="nav-link nav-icon active" title="Shopping list"><clr-icon shape="shopping-cart"></clr-icon></a>
      <a href="/" class="nav-link nav-icon" title="Recipe book"><clr-icon shape="book"></clr-icon></a>
    </div>
    <div class="header-actions">
      <a href="https://github.com/jimnicholls/ng5-complete-guide" class="nav-link nav-text">Jim Nicholls</a>
      <clr-dropdown class="nav-link nav-icon">
        <a clrDropdownTrigger><clr-icon shape="cog"></clr-icon></a>
        <clr-dropdown-menu *clrIfOpen [clrPosition]="'bottom-right'">
          <a clrDropdownItem (click)="loadSampleData()">Load data</a>
          <a class="disabled" clrDropdownItem>Save data</a>
          <div class="dropdown-divider"></div>
          <a class="disabled" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <app-shopping-list [shoppingList]="shoppingList"
                         (cleared)="onShoppingListCleared()">
      </app-shopping-list>
      <hr style="margin: 2rem -1rem;">
      <app-recipe-book [recipeBook]="recipeBook"></app-recipe-book>
    </div>
  </div>
</clr-main-container>
