<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <span class="title">Angular 5 Project</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="nav-link nav-icon" [class.active]="selectedFeature === 'shopping list'" title="Shopping list"
         (click)="selectedFeature = 'shopping list'">
        <clr-icon shape="shopping-cart"></clr-icon>
      </a>
      <a class="nav-link nav-icon" [class.active]="selectedFeature === 'recipe book'" title="Recipe book"
         (click)="selectedFeature = 'recipe book'">
        <clr-icon shape="book"></clr-icon>
      </a>
    </div>
    <div class="header-actions">
      <a href="https://github.com/jimnicholls/ng5-complete-guide" class="nav-link nav-text">Jim Nicholls</a>
      <clr-dropdown class="nav-link nav-icon">
        <a clrDropdownTrigger><clr-icon shape="cog"></clr-icon></a>
        <clr-dropdown-menu *clrIfOpen [clrPosition]="'bottom-right'">
          <a clrDropdownItem (click)="loadSampleData()">Load data</a>
          <a class="disabled" clrDropdownItem>Save data</a>
          <div class="dropdown-divider"></div>
          <a class="disabled" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <app-shopping-list [shoppingList]="shoppingList"
                         (itemAdded)="onShoppingListItemAdded($event)"
                         (cleared)="onShoppingListCleared()"
                         *ngIf="selectedFeature === 'shopping list'">
      </app-shopping-list>
      <app-recipe-book [recipeBook]="recipeBook"
                       *ngIf="selectedFeature === 'recipe book'">

      </app-recipe-book>
    </div>
  </div>
</clr-main-container>
