<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a href="/" class="nav-link">
        <span class="title">Angular 5 Project</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="/" class="nav-link nav-icon" title="Shopping list"><clr-icon shape="shopping-cart"></clr-icon></a>
      <a href="/" class="nav-link nav-icon" title="Recipe book"><clr-icon shape="book"></clr-icon></a>
    </div>
    <div class="header-actions">
      <a href="https://github.com/jimnicholls/ng5-complete-guide" class="nav-link nav-text">Jim Nicholls</a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
    </div>
  </div>
</clr-main-container>
