<table class="table">
  <tbody>
    <tr class="selected"><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
    <tr><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
    <tr><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
    <tr><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
    <tr><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
    <tr><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
    <tr><td class="left"><app-recipe-summary></app-recipe-summary></td></tr>
  </tbody>
</table>
