<div class="card">
  <div class="card-header">
    Recipe name
  </div>
  <div class="card-block">
    <div class="card-title">Ingredients</div>
    <div class="card-text">
      <ul class="list">
        <li>Ingredient 1</li>
      </ul>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Method</div>
    <div class="card-text">
      <ol class="list">
        <li>Step 1</li>
      </ol>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link">Recipe Action 1</button>
    <button class="btn btn-sm btn-link">Recipe Action 2</button>
  </div>
</div>
