<div class="card">
  <div class="card-header" title="{{ recipe.id }}">
    {{ recipe.name }}
  </div>
  <div class="card-block">
    <img *ngIf="recipe.image" [src]="recipe.image">
    <div class="card-title">Ingredients</div>
    <div class="card-text">
      <ul class="list">
        <li *ngFor="let i of recipe.ingredients">{{ i }}</li>
      </ul>
    </div>
  </div>
  <div class="card-block">
    <div class="card-title">Steps</div>
    <div class="card-text">
      <ol class="list">
        <li *ngFor="let s of recipe.steps">{{ s }}</li>
      </ol>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-sm btn-link"><clr-icon shape="shopping-cart"></clr-icon> Add to shopping list</a>
    <a class="btn btn-sm btn-link"><clr-icon shape="pencil"></clr-icon> Edit</a>
    <clr-signpost>
      <button class="btn btn-sm btn-danger-outline" clrSignpostTrigger="deleteConfirmationIsOpen">
        <clr-icon shape="trash"></clr-icon> Delete
      </button>
      <clr-signpost-content #deleteConfirmationContent [clrPosition]="'top-middle'">
        <h3 style="margin-bottom: 1rem;">Are you sure you want to delete this recipe?</h3>
        <p style="margin-bottom: 1rem;">Once you delete a recipe, you cannot undo it.</p>
        <a type="button" class="btn btn-primary btn-danger" (click)="onDeleteConfirmationDelete()">Delete</a>
        <a type="button" class="btn btn-outline" (click)="onDeleteConfirmationCancel()">Cancel</a>
      </clr-signpost-content>
    </clr-signpost>
  </div>
</div>
